@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/*CONTENEDOR*/
.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f8f1e8;

}
/*ASIDE*/
aside{

    color: #cf7619;
    position: sticky;
    top:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navegador{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.logo{
    height: 200px;
    margin-left: 30px;
    text-align: center;
}
/*FOOTER*/
.footer{
    text-align: center;
}
/*MAIN*/
main{
    background-color: #cf7619;
    margin: 10px;
    margin-left: 0;
    border-radius: 50px;
    padding: 30px;
}
.titulo-main{
    color: #f8f1e8;
    font-weight: 700;
    font-size: 50px;
}
/*PRODUCTOS*/
.productos{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 450px;
    justify-content: center;
}
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}
.producto-detalles{
    background-color: #f8f1e8;
    color: #cf7619;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.producto-agregar{
    border: 0;
    background-color: #cf7619;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #f8f1e8;
}
.producto-agregar:hover{
    background-color: #efb07d;
    color: #cf7619;
    border: #cf7619 solid 2px;
    font-weight: 600;
    transition: 0.5s;
}
.producto-imagen{
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*BOTONES*/
.boton{
    background-color: transparent;
    border: 0;
    color:#cf7619;
    display: flex;
    gap: 10px;
    font-weight: 600;
    padding: 5px;
    align-items: center;
}

.boton-productos.active{
    background-color: #cf7619;
    color: #f8f1e8;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.boton-carrito.active{
    background-color: #cf7619;
    color: #f8f1e8;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.numero{
    background-color: #efb07d;  
    color: #cf7619;
    border-radius: 5px;
    padding: 5px;
}
.mobile{
    display: none;
}
.close-menu{
    display: none;
}

/*CARRITO*/
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carrito-vacio, .carrito-final{
    color: #f8f1e8;
    margin-top: 20px;
}

.carrito-lleno{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.carrito-producto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f1e8;
    color: #cf7619;
    padding: 10px;
    border-radius: 10px;

}
.carrito-imagen{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.carrito-eliminar{
    border: 0;
    background-color: #f8f1e8;
    color: #cf7619;
}
.carrito-acciones{
    display: flex;
    justify-content: space-between;

}
.carrito-vaciar{
    border: 0;
    background-color: #f8f1e8;
    color: #cf7619;
    padding: 10px;
    border-radius: 5px;
}
.carrito-vaciar:hover{
    background-color: #efb07d;
    color: #f8f1e8;
    font-weight: 900;
    transition: 0.5s;
}
.carrito-total{
    display: flex;
}

.carrito-comprar{
    border: 0;
    background-color: #f8f1e8;
    color:#cf7619;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.carrito-comprar:hover{
    background-color: #efb07d;
    color: #f8f1e8;
    font-weight: 900;
    transition: 0.5s;
}
.total-compra{
    display: flex;
    background-color: #f8f1e8;
    color: #cf7619;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ocultar{
    display: none;
}

/*INICIAR SESION*/
.titulo-inicio{
    color: #f8f1e8;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.inicio{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #efb07d;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    border: #f8f1e8 solid 2px;
}
.form{
    display: flex;
    justify-content:center;
    margin-top: 50px;
}
.ingresar{
    margin: 30px;
}
.ingresar h5{
    font-weight: 600;
    color: #f8f1e8;
}
input{
    border: none;
    border-radius: 5px;
    border-bottom: #cf7619 solid 2px;
    background-color: #efb07d;
    color: black;
}
.boton-inicio{
    border: #cf7619 solid 2px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: #cf7619;
    background-color: #f8f1e8;
}

/*MEDIA QUERIES*/
@media screen and (max-width:1150px){
    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:900px){
    .contenedor{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    aside{
        position:fixed;
        z-index: 9;
        background-color: #f8f1e8;
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0,0,0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;

    }
    .aside-visible{
        transform: translateX(0) ;
        opacity: 1;
        visibility: visible;
    }
    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }
    main{
        margin: 2px;
        padding: 20px;
    }
    .mobile{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .open-menu , .close-menu{
        background-color:transparent;
        color: #cf7619;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }
    .close-menu{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .carrito-producto{
        gap: 10px;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 5px;
    }
    .carrito-subtotal{
        display: none;
    }
    .carrito-acciones{
        flex-wrap: wrap;
        row-gap: 10px;
    }

}
@media screen and (max-width:600px){
    .productos{
        width: 200px;
    }
}
